# Part 1

In [3]:
# First let's do this the straightforward way: read in one value at a time nand compare it to the previous value

last = -1 # initialize last to a value that is guaranteed to be less than the first measurement
num_increases = 0

with open('01-input.txt') as data:
    for line in data:
        this = int(line)
        if this > last:
            num_increases += 1
        last = this

num_increases -= 1 # remove the one spurious increase
num_increases

1665

In [4]:
# But here's a more fun way: store all the measurements as a list, then compare the first n-1 measurements against the last n-1 measurements via generator comprehension

with open('01-input.txt') as data:
    measurements = [int(line) for line in data]

sum((1 for first, second in zip(measurements[:-1], measurements[1:]) if second > first))

1665

# Part 2

In [15]:
import pandas as pd

series = pd.read_csv('01-input.txt', squeeze=True, header=None).astype(int)
series

0        187
1        195
2        199
3        218
4        221
        ...
1995    9726
1996    9735
1997    9737
1998    9752
1999    9745
Name: 0, Length: 2000, dtype: int32

In [16]:
rolling = series.rolling(3).sum()
rolling

0           NaN
1           NaN
2         581.0
3         612.0
4         638.0
         ...
1995    29123.0
1996    29174.0
1997    29198.0
1998    29224.0
1999    29234.0
Name: 0, Length: 2000, dtype: float64

In [22]:
df = pd.DataFrame({'first': rolling, 'second': rolling.shift(-1)})
df

        first   second
0         NaN      NaN
1         NaN    581.0
2       581.0    612.0
3       612.0    638.0
4       638.0    661.0
...       ...      ...
1995  29123.0  29174.0
1996  29174.0  29198.0
1997  29198.0  29224.0
1998  29224.0  29234.0
1999  29234.0      NaN

[2000 rows x 2 columns]

In [23]:
df['increased'] = df['second'] > df['first']
df

        first   second  increased
0         NaN      NaN      False
1         NaN    581.0      False
2       581.0    612.0       True
3       612.0    638.0       True
4       638.0    661.0       True
...       ...      ...        ...
1995  29123.0  29174.0       True
1996  29174.0  29198.0       True
1997  29198.0  29224.0       True
1998  29224.0  29234.0       True
1999  29234.0      NaN      False

[2000 rows x 3 columns]

In [24]:
sum(df['increased'])

1702