# Part 1

In [3]:
import pandas as pd

df = pd.read_table('02-input.txt', sep=' ', header=None)
df.columns = ['direction', 'amount']
df

    direction  amount
0     forward       2
1        down       9
2          up       6
3     forward       1
4        down       5
..        ...     ...
995   forward       2
996   forward       7
997      down       3
998      down       3
999   forward       4

[1000 rows x 2 columns]

In [6]:
grouped = df.groupby('direction')['amount'].sum()
grouped

direction
down       1991
forward    2010
up          961
Name: amount, dtype: int64

In [8]:
(grouped['down'] - grouped['up']) * grouped['forward']

2070300

# Part 2

In [12]:
pos = 0
depth = 0
aim = 0

for idx, (direction, amount) in df.iterrows():
    if direction == 'down':
        aim += amount
    if direction == 'up':
        aim -= amount
    if direction == 'forward':
        pos += amount
        depth += amount * aim

print(pos, depth, aim)
pos * depth

2010 1034321 1030

2078985210