# Part 1

In [1]:
import pandas as pd

In [51]:
# First figure out how long the binary numbers are
with open('03-input.txt') as data:
    row_length = len(next(data)) - 1 # subtract 1 because CR is a character too

row_length

12

In [56]:
df = pd.read_fwf('03-input.txt', header=None, widths=[1] * row_length, dtype=str)
df

    0  1  2  3  4  5  6  7  8  9  10 11
0    0  1  1  1  1  1  1  1  1  1  0  0
1    1  0  0  0  0  1  0  1  1  1  1  1
2    0  1  1  0  1  0  0  1  0  0  1  0
3    1  0  0  1  1  0  1  1  0  1  1  0
4    0  0  1  0  0  0  1  1  0  0  0  1
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  1  1  1  0  0  0  1  1  1  1  0  1
996  1  1  0  1  0  0  0  0  0  1  1  0
997  1  0  0  1  0  0  1  0  1  0  1  1
998  0  1  0  0  1  1  1  0  1  1  1  0
999  1  1  0  0  0  1  1  0  0  0  1  0

[1000 rows x 12 columns]

In [57]:
df.mode()

  0  1  2  3  4  5  6  7  8  9  10 11
0  0  0  1  0  1  0  0  0  1  1  1  0

In [58]:
gamma_rate = int(df.mode().values.sum(axis=1)[0], 2)
epsilon_rate = (2**row_length - 1) - gamma_rate # because flipping each bit results in the number that will sum up to all-bits-on
gamma_rate * epsilon_rate

2250414

# Part 2

In [55]:
# Oxygen
# Go column by column, keeping rows whose value == the most common value in that column (if tie, keep 1)
# If only one row remains, return that row

for col in df.columns:
    print(col)

0
1
2
3
4
5
6
7
8
9
10
11